# Игнорировать все файлы с расширением .pyc
*.pyc

# Игнорировать все файлы в папке __pycache__ (которая обычно содержит .pyc файлы)
__pycache__/

# Игнорировать виртуальное окружение (если используется виртуальное окружение)
myvenv/

# Игнорировать файлы сборки и папки
build/
dist/

# Игнорировать все файлы, которые генерируются IDE и текстовыми редакторами
*.swp
*.swo
*.swn
.vscode/
.idea/

# Игнорировать локальные настройки, например, настройки для IDE
*.env
.env.local
.env.*.local

# Игнорировать все файлы, заканчивающиеся на .pyc, .pyo, .egg-info и .egg
*.pyc
*.pyo
*.egg-info/
*.egg

# Игнорировать логи и временные файлы
*.log
*.pot
*.py~ 
*.swp
*.bak
*.cache
*.json
*.db

# Игнорировать директорию сборки pip
pip-wheel-metadata/
